body {

background-color: blue;

}

#container {

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
width: 150px;
gap: 5px;
}

.letter {

background-color: red;
padding: 10px;

}